:root{
    --primary: #D081F4
}

body{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.header {
    background-color: var(--primary);
    width: 100%;
}

.logo {
    width: 170px;
    height: 80px;
}